
      <div class="panel panel-default menu">
        <div class="panel-heading" style="font-size: 20px; text-align: center; color: rgb(79, 15, 197);">Danh mục loại sản phẩm</div>
        <div class="panel-body">
          <div class="list-group text-center">
            
            {{#each cats}}
            <a href="/products/{{id_loaisp}}" class="list-group-item list-group-item-action {{#if isActive}} active{{/if}}">
              {{name}}
            </a>
            {{/each}}
            <a class="list-group-item list-group-item-action" href="/products" style="color: chartreuse;">Tất cả</a>
         </div>
        </div>
      </div>
      