<div class="row py-2">
                <div class="col-md-3">
                     <div class="card-h-100-shadow">
                         {{> side}}
                     </div>
                </div>
                <div class="col-md-9">
                     <div class="card-h-100-shadow">
                         {{> content}}
                     </div>
                </div>
            </div>